<h1>ダッシュボード</h1>
<h2>今日の日付は<%= Date.today %>です</h2>
<div class="container">
  <div class="col-sm-9">
    <%= render "user_list" %>
  </div>
  <div class="col-sm-3">
    <%= render "drink_list" %>
  </div>
</div>